<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TVSoundController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TVSoundController.Properties.Settings>
            <setting name="MicID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicMinLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MicMaxLevel" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MicScale" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="TVIP" serializeAs="String">
                <value>192.168.1.1</value>
            </setting>
            <setting name="TVMAC" serializeAs="String">
                <value>00:00:00:00:00:00</value>
            </setting>
            <setting name="TVToken" serializeAs="String">
                <value />
            </setting>
            <setting name="TVVolumeMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="TVVolumeInitial" serializeAs="String">
                <value>10</value>
            </setting>
        </TVSoundController.Properties.Settings>
    </userSettings>
</configuration>